<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834925183749-jnk5t582d9mfr7otejvs9e2p5ps7146r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834925183749-jnk5t582d9mfr7otejvs9e2p5ps7146r</string>
	<key>API_KEY</key>
	<string>AIzaSyALaTzhntKJLVH5lOIXMF_3oE9nXbdVMgc</string>
	<key>GCM_SENDER_ID</key>
	<string>834925183749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutria</string>
	<key>PROJECT_ID</key>
	<string>nutria-97082</string>
	<key>STORAGE_BUCKET</key>
	<string>nutria-97082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834925183749:ios:5ad10288ac2af07077ad6c</string>
</dict>
</plist>